[Unit]
Description=Rotate helm service logs

[Service]
Type=oneshot
Environment="HELM_STATE_DIR=@HELM_STATE_DIR@"
ExecStart="@HELM_ROOT@/bin/helm" rotate-logs
